{
    "extends": [
        "standard",
        "prettier"
    ],
    "plugins": [
        "standard",
        "promise",
        "prettier"
    ],
    "rules": {
      "space-before-function-paren": ["error", "never"],
      "quotes": ["error", "single"],
      "semi": ["error"]
    }
}